.page-advantages {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.h2-container {
    .h2-garant {
        display: inline-block;
        vertical-align: middle;
        max-width: 80%;
        text-align: left;

    }

    img {
        max-width: 200px;
        vertical-align: middle;
    }
}

@media (max-width:755px) {
    .h2-container {
        .h2-garant {
            display: inline-block;
            max-width: 100%;
           

        }
    }
}

.advantages-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 70px;
}

.advantages-item {
    padding: 0 8px;
    flex-basis: 33.333%;

    img:not(first-child) {
        margin-bottom: 15px;
    }
}
.advantages-item1 {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:1024px) {
    .advantages-row {
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;
        
    }
    .advantages-item {
        margin: 20px 0;
        border: 1px solid rgba(126, 117, 117, 0.13);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.137);
        max-width: 90%;
        padding: 20px 10px;
        background-color: rgba(204, 204, 204, 0.123);
    }
    .advantages-item1 {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        border: 1px solid rgba(126, 117, 117, 0.13);
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.137);
        max-width: 100%;
        padding: 20px 50px 40px;
        background-color: rgba(204, 204, 204, 0.123);
    }
    .arrow-blue {
        display: none;
    }

    .blue1 {
        margin-bottom: 25px;
    }
    .h2-container {
        .h2-garant {
            max-width: 100%;
            text-align: center;
        }
    }
}
@media (max-width:765px) {
    .advantages-item1 {
        padding-right: 0;
        padding-left: 0;
        max-width: 90%;
    }
}